body {
    background-color: #25283d;
    margin: 25px;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

/* Titles and Headings */
h1 {
    color: #000;
    font-weight: 700;
}

h2 {
    color: #000;
    font-weight: 500;
}

h3 {
    color: #000;
    font-weight: 300;
}

h1.title {
    color: #f0995b;
    font-weight: 700;
    text-align: center;
    font-size: 15em;
}

h1.author {
    color: #68e3d1;
    font-size: 5em;
    margin-bottom: 300px;
    text-align: center;
}

h3.subtitle {
    color: #FFF;
    font-weight: 300;
    text-align: center;
    font-style: italic;
}

/* Main Body */
div.box {
    background-color: #f0995b;
    width: 750px;
    float: left;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 2px 2px 15px #000; 
    
}

div.left {
    float: left;
}

div.right {
    float: right;
}
li {
    font-weight: 300;
    font-size: 1.5em;
}


/* Large Devices */
@media (min-width: 1200px) {
    h1.title {
        font-size: 10em;
        margin-top: 230px;
        margin-bottom: 50px;
    }
    
    h1.author {
        margin-bottom: 500px;
    }

    h3.subtitle {
        margin-bottom: 500px;
    }

    div.box {
        margin-bottom: 250px;
    }

}

/* Medium and Small Devices */
@media (max-width: 991px){
    div.box {
        width: fit-content;
    }
    div.left {
        float: none;
    }
    div.right {
        float: none;
    }
}